{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "mocha": true
    },
    "globals": {
        "Document": true,
        "document": true,
        "Window": true,
        "window": true,
        "Event": true,
        "Element": true
    }
}
